/*
 * ahp.shell.css
 * Shell styles
*/
.ahp-shell-head, .ahp-shell-main, .ahp-shell-main-nav, .ahp-shell-main-content, .ahp-shell-foot ,
.ahp-shell-main-nav-link
{
  position : absolute;
}
.ahp-shell-head {
  top        : 0;
  left       : 0;
  right      : 0;
  height     : 80px;
  background : #FFF;
}
.ahp-shell-main {
  top    : 80px;
  left   : 0;
  right  : 0;
  height : 599px;
}
.ahp-shell-main-content,
.ahp-shell-main-nav {
  top      : 0;
  bottom   : 0;
  overflow : auto;
}
.ahp-shell-main-nav {
  width      : 400px;
  background : #BBB;
}
.ahp-shell-main-nav-link  {
  left       : 0;
  right      : 0;
  height     : 99px;
  background : #F0F0F0;
  font-size  : 28px;
  color      : #aaa;
  text-indent: 20px;
  line-height: 99px;
}
.ahp-shell-main-nav-link.ready {
  background : #E0E0E0;
  cursor     : pointer;
}
 .ahp-shell-main-nav-link.ready:hover {
    background : #C0C0C0;
  }
.ahp-shell-main-nav-link.current {
  background : #C8C8C8;
}
.ahp-shell-main-nav-link-done {
  background-image: url('../img/check.png');
  height     : 99px;
  width      : 99px;
  float      : right;
  display    : none; 
}
#ahp-shell-main-nav-name  {
  top        : 0;
}
#ahp-shell-main-nav-alternatives  {
  top        : 100px;
}
#ahp-shell-main-nav-criteria  {
  top        : 200px;
}
#ahp-shell-main-nav-compare-criteria  {
  top        : 300px;
}
#ahp-shell-main-nav-compare-alternatives  {
  top        : 400px;
}
#ahp-shell-main-nav-result {
  top        : 500px;
}
.ahp-shell-main-content {
  left         : 400px;
  right        : 0;
  background   : #F8F8F8;
  padding-top  : 20px;
  padding-left : 40px;
  font-size    : 22px;
  line-height  : 200%;
}
.ahp-shell-main-content  input[type=text] {
  float         : left;
  width         : 300px;
  height        : 50px;
  margin-top    : 20px;
  padding-top   : 20px;
  border-top    : 0;
  border-left   : 0;
  border-right  : 0;
  border-bottom : thin solid #000;
  background    : #fff;
  font          : 22px Lucida Handwriting, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana,sans-serif;
}
  .ahp-shell-main-content  input[type=text]:focus {
    background   : #fff;
  }
.ahp-shell-main-content  label{
  float          : left;
  width          : 300px;
  height         : 50px;
  margin-top     : 20px;
  padding-top    : 10px;
}  
.ahp-shell-main-content  label.error_msg{
  color          : red;
  font-size      : small;
  margin-left    : 25px;
  display        : none;
}  
.view, .edit {
  display : none;
}
.ahp-shell-main-content-submit {
  float       : left;
  margin-top  : 20px;
  margin-left : 20px;
  height      : 50px;
  width       : 70px;
  cursor       : pointer;
}  
.view .ahp-shell-main-content-submit {
  background    : #efdf88;
}  
.edit .ahp-shell-main-content-submit {
  background    : #00dd00;
}  
.ahp-shell-main-content-submit.add {
  background    : #99CCFF;
}
.ahp-shell-main-content-submit.delete {
  background    : #ccc;
}  
.ahp-shell-main-content-submit:disabled{
  background    : #F8F8F8;
}
.ahp-shell-head-load-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.ahp-shell-head-load-sample, .ahp-shell-head-load-file  + label, .ahp-shell-head-save  {
  float        : right;
  margin-top   : 20px;
  margin-right : 10px;
  height       : 20px;
  width        : 100px;
  cursor       : pointer;
}  

.edit table {
  float: left;
}
.edit td{
  padding   : 0 45px 0 45px;
  border-style : none;
}
.edit th{
  padding     : 0 10px 0 10px;
  font-weight : normal;
  border-style : none;
}
.view table {
  float: left;
}
.view td{
  padding   : 0 10px 0 10px;
  border-style : none;
}
.view th{
  padding   : 30px 10px 0 10px;
  font-weight : normal;
  border-style : none;
}
.result {
  border-collapse : collapse; 
}
.result  td, th{
  border: 1px solid black;
}
.result td{
  padding    : 0 45px 0 45px;
  text-align : center;
}
.result th{
  padding     : 0 10px 0 10px;
  text-align  : center;
}
.ahp-shell-foot {
  bottom     : 0;
  left       : 0;
  right      : 0;
  top        : 679px;
  background : #FFF;
}